[Unit]
Description=Docker Watchdog Service
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/docker-watchdog run

[Install]
WantedBy=multi-user.target
